// -- COLORS -- //
$dark-grey: #1d1d1b;
$grey: #869299;
$light-grey: #bdcbcf;
$error-color: #b71d30;
$green: #00bab1;

// -- SHADOWS -- //
$shadow: 1px 4px 2px -2px gray;

// -- FONTS -- //
$font-default: 1rem; 
$font-small: 0.875rem;
$font-tiny: 0.75rem;  