<h3>Thank you!!!</h3>

<div class="review-register__item">
  <span class="review-register__item-title">Name:</span>
  {{register.title}}. {{register.firstName}} {{register.lastName}}
</div>

<div class="review-register__item" *ngIf="!!register.username">
  <span class="review-register__item-title">Username:</span>
  {{register.username}}
</div>

<div class="review-register__item" *ngIf="!!register.movie">
  <span class="review-register__item-title">Favourite Movie:</span>
  {{register.movie}}
</div>

<div class="review-register__item">
  <span class="review-register__item-title">Country:</span>
  {{register.country}}
</div>

<div class="review-register__item">
  <span class="review-register__item-title">Post Code:</span>
  {{register.postCode}}
</div>