@import "~src/app/styles/brand.scss";

:host {
  position: absolute;
  min-height: 50px;
  height: auto;
  width: 340px;
  cursor: pointer;
  box-shadow: $shadow;
};

.movie-selection {
  &__item {
    padding: 5px;
    min-height: 30px;
    background: white;
    border-bottom: 1px $grey solid;
    &:nth-child(even){
      background: $light-grey;
    }
  }
}